.MyPage__table {
  width: 100%;
}

table caption {
  font-size: 1.5em;
  font-weight: bold;

  padding: 20px;
  border-radius: 30px 30px 0px 0px;
  background-color: #e7eff8;
  border-bottom: 3px solid #abc2ef;
}

table tbody::-webkit-scrollbar {
  width: 10px;
}

table tbody::-webkit-scrollbar-thumb {
  background-color: #e7eff8;
  border-radius: 10px;
}

table tbody {
  display: block;
  height: 530px;
  overflow-y: auto;
}

.History_table {
  text-align: center;
}

.History_table td {
  padding: 10px 20px 10px 20px;
}

.Friend_table td {
  width: 400px;
  padding: 10px 20px 10px 20px;
}

table tr {
  height: 50px;
  font-size: 1.2em;

  display: flex;
}

table tr:nth-child(even) {
  background-color: #eff6ff;
}

#history_date {
  width: 150px;
}

#history_result {
  width: 150px;
}

#history_content {
  flex-grow: 2;
}
